.main-container{
  margin-top: 30px;
  margin-bottom: 40px;
  overflow-x: auto;
}

.item{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.item-3{
  width: 150px;
  height: 150px;
}

.item-6{
  width: 120px;
  height: 120px;
}

.item-9{
  width: 80px;
  height: 80px;
}

.item-12{
  width: 60px;
  height: 60px;
}

.i-row{
  justify-content: center;
}

.backdrop{
  background-color: grey;
  opacity: 0.5;
  position: absolute;
  visibility: hidden;
}

.backdrop:hover{
  visibility: visible;
}
